
@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');
main{
    background: url("../img/fundogif.gif");
    background-size:cover;
   
}
main{
    width: 100%;
    height: 100%;
    padding-bottom: 5vh;

      
}

.title {
    text-align: center;
    font-size: 80px;
    color: #000000;
    text-transform: uppercase;
}
.sub-title {
    text-align: center;
    font-size: 30px;
    color: #000000;
}

.sobre-title {
    text-align: center;
    font-size: 40px;
    color: #000000;
    margin: 10% 0 0;
}

.sobre {
    margin: 25px auto;
    padding: 2%;
    height: 50%;
    width: 70%;
    text-align: center;
    color: rgb(7, 7, 7);
    background-color: #5f5d70af ;
    font-family: 'Share Tech', sans-serif;
    font-size: 30px;
    border-radius: 50px ;
    border: 5px solid rgba(0, 0, 0, 0.384);
}

.ins {
    font-size: 40px;
    font-family: 'Verdana';
    text-align: center; 
}



#forma {
    height: 68vh;
    
}

#form{
    width: 40vw;
    background-color: whitesmoke;
    margin: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding: 2vh;
    border: 0.25vh solid yellow;
    border-radius: 5vh;
}

p{
    font-size: 3vh;
    font-weight: bold;
}

#eyedois, #eyeum{
    margin-right: 2vw;
    margin-left: 1vw;
}


#emailError, #erroSenhaDois, #erroSenha, #eyedois, #eyeum{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

#emailError, #erroSenhaDois, #erroSenha{
    font-size: 1.5vh;
}

label{
    font-size: 2vh;
}

input{
    font-size: 2vh;
    height: 4vh;
    border: none;
    border-bottom: 0.25vh solid black;
    background-color: whitesmoke;
}

.button{
    display: flex;
    justify-content: center;
}

#submitButton{
    background-color: yellow;
    border: none;
    border-radius: 5vh;
    height: 5vh;
    color: black;
}

#submitesqueci{
    background-color: yellow;
    border: none;
    border-radius: 5vh;
    height: 5vh;
    color: black;
}

#submitRec{
    background-color: yellow;
    border: none;
    border-radius: 5vh;
    height: 5vh;
    color: black;
}

.eyeError{
    display: flex;
    align-items: center;
}

.emailError{
    display: flex;
    align-items: center;
    height: 4vh;
}

#emailError{
    padding-left: 1vw;
}

#mensError {
    text-align: center;
    color: #ff0000;
    background-color: #ffbbbb;
    border-radius: 4px;
    padding: 10px;
    display: none;
}

#mensCerto {
    text-align: center;
    color: #00bb00;
    background-color: #bbffbe;
    border-radius: 4px;
    padding: 10px;
    display: none;
}

#recuperacao{
    display: none;
}