@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');
.coisa {
    background: url("../img/backcontato.gif");
    background-size:cover;
   
} *
body {
    width: 100%;
    height: 100%;
    padding-bottom: 5vh;
      
}

.title {
    text-align: center;
    font-size: 80px;
    color: #ffffff;
    text-transform: uppercase;
}
.sub-title {
    text-align: center;
    font-size: 30px;
    color: #ffffff;
}

.nos {
    width:940px;
    margin: 0 auto;
    padding: 50px 0;

}

.nos li {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin: 0 1.5% 5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #ffffff;
    border-radius: 10px;
    background-color: #5d6c705e;
    
    
}

.nos li:hover h2{
    font-size: 34px;

}

.nos h2 {
    font-size: 30px;
    font-weight: bold;
    color:#ffffff
}

.nos-descricao {
    font-size: 18px;
    color:#FFFFFF
}

.frs-soft {
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0 0;
    margin-top: 10px;
    color:#FFFFFF
}


